table {
    border-collapse: collapse;
}

tr {
    height: 2em;
}

td {
    border: 1px solid black;
    width: 2em;
    text-align: center;
}

.plain-cell {
    background-color: white;
}

.light-cell {
    background-color: #FFFACD;
}

.wrong-cell {
    background-color: #FFCBCA;
}

.dark-cell {
    background-color: black;
    color: white;
}
