table {
    border-collapse: collapse;
    border: 1px;
}

tr {
    height: 2em;
}

td {
    border: 1px solid black;
    width: 2em;
    text-align: center;
    font-weight: bold;
}

.plain-cell {
    background-color: white;
}

.light-cell {
    background-color: #FFFACD;
}

.wrong-cell {
    background-color: #FFCBCA;
}

.dark-cell {
    background-color: black;
    color: white;
}

.dark-cell-satisfied {
    background-color: black;
    color: green;
}

.scores-table>thead>tr>th {
    text-decoration: underline;
}